#importing libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#loading the dataset

In [ ]:
ccd = pd.read_csv('/content/creditcard.csv')

In [ ]:
print(ccd)

            Time         V1         V2  ...       V28  Amount  Class
0            0.0  -1.359807  -0.072781  ... -0.021053  149.62      0
1            0.0   1.191857   0.266151  ...  0.014724    2.69      0
2            1.0  -1.358354  -1.340163  ... -0.059752  378.66      0
3            1.0  -0.966272  -0.185226  ...  0.061458  123.50      0
4            2.0  -1.158233   0.877737  ...  0.215153   69.99      0
...          ...        ...        ...  ...       ...     ...    ...
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[284807 rows x 31 columns]

In [ ]:
ccd.head() # this will print the first five rows of ccd

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
ccd.tail()
#this will print last five row of ccd

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

#dataset information

In [ ]:
ccd.info() #this will give some important information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

number of missing values in each column

In [7]:
ccd.notnull()

        Time    V1    V2    V3    V4  ...   V26   V27   V28  Amount  Class
0       True  True  True  True  True  ...  True  True  True    True   True
1       True  True  True  True  True  ...  True  True  True    True   True
2       True  True  True  True  True  ...  True  True  True    True   True
3       True  True  True  True  True  ...  True  True  True    True   True
4       True  True  True  True  True  ...  True  True  True    True   True
...      ...   ...   ...   ...   ...  ...   ...   ...   ...     ...    ...
284802  True  True  True  True  True  ...  True  True  True    True   True
284803  True  True  True  True  True  ...  True  True  True    True   True
284804  True  True  True  True  True  ...  True  True  True    True   True
284805  True  True  True  True  True  ...  True  True  True    True   True
284806  True  True  True  True  True  ...  True  True  True    True   True

[284807 rows x 31 columns]

In [8]:
ccd.isnull().sum() #because all the values are zero so their is no missing value

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
#distribution of correct transactions and fraudelant transactions

#so by output we got their are 284315 correct transactions and 492 fraud transactions
ccd['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

this above dataset is highly unbalanced 0-normal 1-fraud

In [11]:
normal = ccd[ccd.Class==0]
fraud = ccd[ccd.Class==1]

In [12]:
print(normal)

            Time         V1         V2  ...       V28  Amount  Class
0            0.0  -1.359807  -0.072781  ... -0.021053  149.62      0
1            0.0   1.191857   0.266151  ...  0.014724    2.69      0
2            1.0  -1.358354  -1.340163  ... -0.059752  378.66      0
3            1.0  -0.966272  -0.185226  ...  0.061458  123.50      0
4            2.0  -1.158233   0.877737  ...  0.215153   69.99      0
...          ...        ...        ...  ...       ...     ...    ...
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[284315 rows x 31 columns]

In [13]:
print(fraud)

            Time        V1        V2  ...       V28  Amount  Class
541        406.0 -2.312227  1.951992  ... -0.143276    0.00      1
623        472.0 -3.043541 -3.157307  ...  0.035764  529.00      1
4920      4462.0 -2.303350  1.759247  ... -0.153029  239.93      1
6108      6986.0 -4.397974  1.358367  ...  0.849573   59.00      1
6329      7519.0  1.234235  3.019740  ...  0.146793    1.00      1
...          ...       ...       ...  ...       ...     ...    ...
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[492 rows x 31 columns]

In [14]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [15]:
#statistical measures of data

normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
#compare the values for both the transactions

ccd.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [18]:
#build a sample dataset containing similar distribution of normal and fraudalent transactions so basically we are picking 492 fraudalent and 492 normal transaction

normal_sample = normal.sample(n=492)

In [19]:
print(normal_sample) #these are random values.

            Time        V1        V2  ...       V28  Amount  Class
146674   87819.0 -1.844327  1.732348  ...  0.331629    1.00      0
213597  139318.0 -0.032977  0.501136  ...  0.030159    7.63      0
31019    36177.0  1.117431  0.122082  ...  0.013116   25.29      0
129876   79231.0  1.202724 -0.491866  ...  0.029071    1.00      0
234922  148173.0  1.886717 -0.517305  ... -0.081462   20.00      0
...          ...       ...       ...  ...       ...     ...    ...
186284  127035.0  1.828982  0.430014  ... -0.058146   49.11      0
65236    51493.0 -2.486659 -0.017552  ... -0.459834    9.99      0
276610  167201.0  2.013345 -1.161679  ... -0.041812   35.80      0
152787   97465.0  1.972762 -0.559713  ... -0.062147   39.00      0
256565  157757.0 -0.458622  0.682699  ...  0.299292   15.00      0

[492 rows x 31 columns]

In [26]:
#concatinating the two dataframes normal and fraud  here axis = 0 means concatinating by rows axis = 1 means concatinating by cols

newdata = pd.concat([normal_sample,fraud],axis=0)

In [27]:
print(newdata)

            Time        V1        V2  ...       V28  Amount  Class
146674   87819.0 -1.844327  1.732348  ...  0.331629    1.00      0
213597  139318.0 -0.032977  0.501136  ...  0.030159    7.63      0
31019    36177.0  1.117431  0.122082  ...  0.013116   25.29      0
129876   79231.0  1.202724 -0.491866  ...  0.029071    1.00      0
234922  148173.0  1.886717 -0.517305  ... -0.081462   20.00      0
...          ...       ...       ...  ...       ...     ...    ...
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[984 rows x 31 columns]

In [28]:
newdata.head()

            Time        V1        V2  ...       V28  Amount  Class
146674   87819.0 -1.844327  1.732348  ...  0.331629    1.00      0
213597  139318.0 -0.032977  0.501136  ...  0.030159    7.63      0
31019    36177.0  1.117431  0.122082  ...  0.013116   25.29      0
129876   79231.0  1.202724 -0.491866  ...  0.029071    1.00      0
234922  148173.0  1.886717 -0.517305  ... -0.081462   20.00      0

[5 rows x 31 columns]

In [29]:
newdata.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [31]:
newdata.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      96212.674797 -0.086229  0.075177  ...  0.024994 -0.026273   94.140183
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [32]:
#splitting data into feature and target

x = newdata.drop(columns='Class',axis=1)
y = newdata['Class']

In [33]:
print(x)
print(y)

            Time        V1        V2  ...       V27       V28  Amount
146674   87819.0 -1.844327  1.732348  ...  0.518673  0.331629    1.00
213597  139318.0 -0.032977  0.501136  ...  0.088829  0.030159    7.63
31019    36177.0  1.117431  0.122082  ...  0.013569  0.013116   25.29
129876   79231.0  1.202724 -0.491866  ...  0.101566  0.029071    1.00
234922  148173.0  1.886717 -0.517305  ...  0.014937 -0.081462   20.00
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]
146674    0
213597    0
31019     0
129876    0
234922    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [34]:

#split data into training data and testing data

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,stratify=y,random_state=2)

In [35]:
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(688, 30) (688,) (296, 30) (296,)

In [36]:
#logistic regression model

model = LogisticRegression()

In [37]:
#training the model with training data

model.fit(x_train,y_train)

#X_train contains of all the fetures of training data

#y_train contains of label

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
#model evaluation by accuracy score

#accuracy on training data
x_train_pred = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_pred,y_train)

In [40]:
print('accuracy on training data:',training_data_accuracy)  #94.186 pecent it made correct predictions with comparing original label and trained data.

accuracy on training data: 0.9418604651162791

In [41]:
#accuracy on test data

x_test_pred = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_pred,y_test)

In [42]:
print('accuracy on test data:',test_data_accuracy) #on testing it made 91.55 percent correct predictions with comparing testing data and original data


#so conclusion is our model has performed well on both training and test data.

accuracy on test data: 0.9155405405405406